---
import BusSeatImage from "@/assets/images/pages/index/sec 1/bus_seat.png";
import BusBackgroundImage from "@/assets/images/pages/index/sec 1/bus_bg.png";
import Image from "@/components/helpers/Image.astro";
---

<section id="section-1" class="z-1 relative opacity-0 overflow-hidden">
    <Image
        id="section-1-fg"
        src={BusSeatImage}
        alt="Bus Seat"
        class="relative w-full h-full object-cover scale-125 z-1"
    />
    <Image
        src={BusBackgroundImage}
        id="section-1-bg"
        alt="Bus Background"
        class="absolute inset-0 w-full h-full object-cover z-0 blur-xs"
    />

    <div class="absolute inset-0 z-2 flex-center pointer-events-none">
        <h2
            class="text-4xl md:text-4xl font-minecraft text-white text-left md:-translate-x-1/2 -translate-y-24 md:-translate-y-48"
            id="section-1-text"
        >
            Should I<br />give up<br />at this point?
        </h2>
    </div>
</section>

<script>
    import { gsap } from "@/lib/gsap";

    document.addEventListener(
        "astro:page-load",
        () => {
            gsap.set("#section-1", { opacity: 0, marginTop: "-100vh" });
            gsap.set("#section-1-bg", { xPercent: -12, scale: 1.15 });

            gsap.timeline({
                scrollTrigger: {
                    trigger: "#section-1",
                    start: "top top",
                    end: "+=200% bottom",
                    scrub: true,
                    pin: true,
                    invalidateOnRefresh: true,
                },
            })
                .to(
                    "#section-1",
                    { opacity: 1, duration: 0.5, ease: "none" },
                    0,
                )
                .fromTo(
                    "#section-1-text",
                    { opacity: 0 },
                    { opacity: 1, duration: 0.5, ease: "none" },
                    0.5,
                )
                .to("#section-1-fg", { scale: 1, duration: 3, ease: "none" }, 0)
                .to(
                    "#section-1-bg",
                    { xPercent: 12, duration: 3, ease: "none" },
                    0,
                )
                .to("body", {
                    backgroundColor: "white",
                    backgroundImage: "url('/media/index/bg.png')",
                    backgroundAttachment: "fixed",
                    backgroundRepeat: "no-repeat",
                    backgroundPosition: "center",
                    backgroundSize: "cover",
                    duration: 0.1,
                    ease: "none",
                })
                .to("#section-1", { opacity: 0, duration: 0.5, ease: "none" });
        },
        { once: false },
    );
</script>
