---
import Image from "@/components/helpers/Image.astro";
import Img1 from "@/assets/images/pages/index/sec 2/1.png";
import Img2 from "@/assets/images/pages/index/sec 2/2.png";
import Img3 from "@/assets/images/pages/index/sec 2/3.png";
---

<section id="section-2" class="relative overflow-hidden">
    <div class="h-lvh w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
        <div class="h-lvh w-full order-1">
            <Image
                src={Img1}
                alt="Image 1"
                class="w-full h-full object-contain object-bottom md:object-top"
                id="section-2-img1"
            />
        </div>
        <div class="h-lvh w-full order-2 md:order-3 xl:order-2">
            <Image
                src={Img2}
                alt="Image 2"
                class="w-full h-full object-contain object-bottom"
                id="section-2-img2"
            />
        </div>
        <div
            class="h-lvh w-full order-3 md:order-2 xl:order-3 relative"
            id="section-2-img3-wrapper"
        >
            <Image
                src={Img3}
                alt="Image 3"
                class="w-full h-full object-contain object-bottom"
                id="section-2-img3"
            />
            <div
                class="w-2/3 absolute inset-0 z-1 pointer-events-none top-1/5 md:top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/3"
            >
                <h2
                    class="text-lg sm:text-xl md:text-2xl font-minecraft text-black text-left"
                >
                    I chose B-Tech thinking they'd teach me computer.<br
                    />Nobody told me that I'd have to teach myself.
                </h2>
            </div>
        </div>
    </div>
</section>

<script>
    import { gsap } from "@/lib/gsap";

    document.addEventListener(
        "astro:page-load",
        () => {
            gsap.set("#section-2", { marginTop: "-100vh", opacity: 0 });
            gsap.set("#section-2-img3", { scale: 1.2 });

            const mm = gsap.matchMedia();
            mm.add(
                {
                    isDesktop: "(min-width: 1280px)",
                    isTablet: "(min-width: 768px) and (max-width: 1279px)",
                    isMobile: "(max-width: 767px)",
                },
                (context) => {
                    const tl = gsap
                        .timeline({
                            scrollTrigger: {
                                trigger: "#section-2",
                                start: "top top",
                                end: "+=200% bottom",
                                scrub: true,
                                pin: true,
                                invalidateOnRefresh: true,
                            },
                        })
                        .to(
                            "#section-2",
                            { opacity: 1, duration: 0.5, ease: "none" },
                            0,
                        );

                    if (context.conditions?.isDesktop) {
                        tl.to(
                            "#section-2-img1",
                            { yPercent: -5, duration: 3, ease: "none" },
                            0.1,
                        )
                            .to(
                                "#section-2-img2",
                                { yPercent: 5, duration: 3, ease: "none" },
                                0.1,
                            )
                            .to(
                                "#section-2-img3",
                                { scale: 1, duration: 3, ease: "none" },
                                0.1,
                            );
                    } else if (context.conditions?.isTablet) {
                        tl.to(
                            "#section-2-img3",
                            { scale: 1, duration: 3, ease: "none" },
                            0.1,
                        ).to(
                            "#section-2-img1, #section-2-img2",
                            {
                                yPercent: -100,
                                duration: 3,
                                ease: "none",
                            },
                            0.1,
                        );
                    } else if (context.conditions?.isMobile) {
                        tl.to(
                            "#section-2-img1, #section-2-img2, #section-2-img3-wrapper",
                            {
                                yPercent: -200,
                                duration: 3,
                                ease: "none",
                            },
                            0.1,
                        );
                    }

                    tl.to("#section-2", {
                        opacity: 0,
                        duration: 0.5,
                        ease: "none",
                    });
                },
            );
        },
        { once: false },
    );
</script>
