---
import Image from "@/components/helpers/Image.astro";
import Img1 from "@/assets/images/pages/index/sec 12/1.png";
import Img2 from "@/assets/images/pages/index/sec 12/2.png";
---

<section id="section-12" class="relative overflow-hidden">
    <div
        class="h-lvh w-full grid grid-cols-1 grid-rows-2 md:grid-cols-2 md:grid-row-1"
    >
        <div class="h-50lvh md:h-lvh w-full">
            <Image
                src={Img1}
                alt="Image 1"
                class="w-full h-full object-contain object-center"
                id="section-12-img1"
            />
        </div>
        <div class="h-50-lvh md:h-lvh w-full">
            <Image
                src={Img2}
                alt="Image 2"
                class="w-full h-full object-contain object-bottom-right"
                style="box-shadow: 0 0 10px 10px transparent inset;"
                id="section-12-img2"
            />
        </div>
    </div>
</section>

<script>
    import { gsap } from "@/lib/gsap";

    document.addEventListener(
        "astro:page-load",
        () => {
            gsap.set("#section-12", { marginTop: "-100vh", opacity: 0 });

            const media = gsap.matchMedia();

            media.add("(min-width: 768px)", () => {
                gsap.timeline({
                    scrollTrigger: {
                        trigger: "#section-12",
                        start: "top top",
                        end: "+=200% bottom",
                        scrub: true,
                        pin: true,
                        invalidateOnRefresh: true,
                    },
                })
                    .to(
                        "#section-12",
                        { opacity: 1, duration: 0.5, ease: "none" },
                        0,
                    )
                    .to(
                        "#section-12-img1",
                        {
                            yPercent: 5,
                            duration: 3,
                            ease: "none",
                        },
                        0.1,
                    )
                    .to(
                        "#section-12-img2",
                        {
                            duration: 3,
                            scale: 1.2,
                            ease: "none",
                        },
                        0.1,
                    )
                    .to("#section-12", {
                        opacity: 0,
                        duration: 0.5,
                        ease: "none",
                    });
            });

            media.add("(max-width: 767px)", () => {
                gsap.timeline({
                    scrollTrigger: {
                        trigger: "#section-12",
                        start: "top top",
                        end: "+=200% bottom",
                        scrub: true,
                        pin: true,
                        invalidateOnRefresh: true,
                    },
                })
                    .to(
                        "#section-12",
                        { opacity: 1, duration: 0.5, ease: "none" },
                        0,
                    )
                    .to(
                        "#section-12-img2",
                        {
                            scale: 1.2,
                            duration: 3,
                            ease: "none",
                        },
                        0,
                    )
                    .to(
                        "#section-12-img1",
                        {
                            scale: 0.9,
                            duration: 3,
                            ease: "none",
                        },
                        0,
                    )
                    .to("#section-12", {
                        opacity: 0,
                        duration: 0.5,
                        ease: "none",
                    });
            });
        },
        { once: false },
    );
</script>
