@import "tailwindcss";
@plugin "@tailwindcss/typography";

html,
body {
	height: 100%; /* Critical for percentage heights */
	margin: 0; /* Remove default margin */
}

:root {
	--theme-bg: var(--color-white);
	--theme-white: var(--color-black);
	--theme-outline: var(--color-black);
	--theme-accent: var(--color-red-500);
	--theme-shadow: var(--color-gray-500);
}

@theme inline {
	--font-sans: var(--font-noto-sans);
	--font-pokemon-hollow: var(--font-pokemon-hollow);
	--font-pokemon-solid: var(--font-pokemon-solid);
	--font-minecraft: var(--font-minecraft);

	--color-theme-bg: var(--theme-bg);
	--color-theme-white: var(--theme-white);
	--color-theme-outline: var(--theme-outline);
	--color-theme-accent: var(--theme-accent);
	--color-theme-shadow: var(--theme-shadow);
}

@layer base {
	body {
		@apply min-h-lvh overflow-x-hidden;
	}

	img {
		@apply select-none;
	}
}

@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}
	.col-center {
		@apply flex flex-col justify-center items-center;
	}
	.abs-center {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}

@layer components {
	section {
		@apply min-h-lvh w-full;
	}
}
