---
import Fonts from "@/components/partials/Fonts.astro";
import Head, {
    type Props as HeadProps,
} from "@/components/partials/Head.astro";
import "@/styles/global.css";

export interface Props extends HeadProps {
    class?: string;
}

const { class: className, ...props } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark scroll-smooth">
    <head>
        <Head {...props} />
        <Fonts />
    </head>
    <body class:list={[className]}>
        <slot />
    </body>
</html>
