---
import BaseLayout from "@/layout/BaseLayout.astro";
import TopButton from "@/components/pages/index/TopButton.svelte";
import Navbar from "@/components/pages/details/Navbar.astro";
import HeroSection from "@/components/pages/details/HeroSection.astro";
import Rounds from "@/components/pages/details/Rounds.astro";
import Timeline from "@/components/pages/details/Timeline.astro";
---

<BaseLayout class="bg-[#cfeffb]">
  <Fragment slot="outside-smooth-scroll">
    <div class="relative">
      <div class="sticky top-0 z-0">
        <Navbar />
        <HeroSection />
      </div>
      
      <div class="-bottom-40 relative h-screen bg-[#cfeffb] z-10 border-t-2 border-red-700"> 
        <div class="absolute -top-16 left-[47%] z-0">
          <img width="70" src="/public/media/details/pikachu-sitting.png" alt="pikachu sitting" draggable="false">
        </div> 
        <Rounds/>
      </div>
    </div>
    
    <Timeline />
    
    <div class="fixed left-2 bottom-2 z-999">
      <TopButton client:load />
    </div>
  </Fragment>
</BaseLayout>
