---
import BaseLayout from "@/layout/BaseLayout.astro";
import TopButton from "@/components/pages/index/TopButton.svelte";
import Navbar from "@/components/pages/details/Navbar.astro";
import HeroSection from "@/components/pages/details/HeroSection.astro";
import Rounds from "@/components/pages/details/Rounds.astro";
import Prizes from "@/components/pages/details/Prizes.astro";
import ProblemStatement from "@/components/pages/details/ProblemStatement.astro";
import Faq from "@/components/pages/details/Faq.astro";
import RulesContent from "@/components/pages/rules/RulesContent.astro";
import Footer from "@/components/partials/Footer.astro";
---

<BaseLayout class="bg-[#cfeffb]">
  <Fragment slot="outside-smooth-scroll">
    <Navbar />
    <div class="relative">
      <div class="sticky top-0 z-0">
        <HeroSection />
      </div>
      
      <div id="rounds" class="-bottom-40 relative h-screen bg-[#cfeffb] z-10 border-t-2 border-red-700"> 
        <div class="absolute -top-16 left-[47%] z-0">
          <img width="70" src="/media/details/pikachu-sitting.png" alt="pikachu sitting" draggable="false">
        </div> 
        <Rounds/>
      </div>
    </div>
    
    <div id="prizes">
      <Prizes />
    </div>

    <div id="rules">
      <RulesContent />
    </div>
    
    <div id="challenges">
      <ProblemStatement />
    </div>
    
    <div id="faqs">
      <Faq />
    </div>

    <Footer />
    
    <div class="fixed left-2 bottom-2 z-999">
      <TopButton client:load />
    </div>
  </Fragment>
</BaseLayout>
