---
import BaseLayout from "@/layout/BaseLayout.astro";
import SectionFinal from "@/components/pages/index/SectionFinal.astro";

import Section1 from "@/components/pages/index/Section1.astro";
import Section2 from "@/components/pages/index/Section2.astro";
import Section3 from "@/components/pages/index/Section3.astro";
import Section4 from "@/components/pages/index/Section4.astro";
import Section5 from "@/components/pages/index/Section5.astro";
import Section6 from "@/components/pages/index/Section6.astro";
import Section7 from "@/components/pages/index/Section7.astro";
import Section8 from "@/components/pages/index/Section8.astro";
import Section9 from "@/components/pages/index/Section9.astro";
import Section10 from "@/components/pages/index/Section10.astro";
import Section11 from "@/components/pages/index/Section11.astro";
import Section12 from "@/components/pages/index/Section12.astro";
---

<BaseLayout class="bg-[#b4c7ce]">
	<main>
		<Section1 />
		<Section2 />
		<Section3 />
		<Section4 />
		<Section5 />
		<Section6 />
		<Section7 />
		<Section8 />
		<Section9 />
		<Section10 />
		<Section11 />
		<Section12 />
		<SectionFinal />
	</main>
</BaseLayout>
