---
import Image from "@/components/helpers/Image.astro";
import PokemonCard from "@/components/widgets/PokemonCard.astro";
import { getCollection } from "astro:content";

const mentors = await getCollection("mentors");
mentors.sort((a, b) => a.data.name.localeCompare(b.data.name));
---

<div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
>
    {
        mentors.map((mentor) => (
            <a
                href={mentor.data.href}
                target="_blank"
                rel="noopener noreferrer"
                id={mentor.id}
            >
                <PokemonCard>
                    <Image
                        src={mentor.data.image}
                        alt={mentor.data.name}
                        class="w-full h-auto object-contain"
                    />
                </PokemonCard>
            </a>
        ))
    }
</div>
