---
import Image from "@/components/helpers/Image.astro";
import PokemonCard from "@/components/widgets/PokemonCard.astro";

import CodeCrafters from "@/assets/sponsors/codecrafters.png";
import XYZ from "@/assets/sponsors/xyz.png";

const sponsors = [
    {
        id: "xyz",
        name: ".XYZ",
        title: "Domain Sponsor",
        url: "https://xyz.com",
        image: XYZ,
    },
    {
        name: "CodeCrafters",
        title: "Learning Sponsor",
        url: "https://codecrafters.io",
        id: "codecrafters",
        image: CodeCrafters,
    },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {
        sponsors.map((sponsor) => (
            <a
                href={sponsor.url}
                target="_blank"
                rel="noopener noreferrer"
                id={sponsor.id}
            >
                <PokemonCard>
                    <Image
                        src={sponsor.image}
                        alt={sponsor.name}
                        class="w-full h-auto object-contain"
                    />
                </PokemonCard>
            </a>
        ))
    }
</div>
