---
import Image from "@/components/helpers/Image.astro";
import PokemonCard from "@/components/widgets/PokemonCard.astro";
import { getCollection } from "astro:content";

const sponsors = await getCollection("sponsors");
sponsors.sort((a, b) => a.data.name.localeCompare(b.data.name));
---

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    {
        sponsors.map((sponsor) => (
            <a
                href={sponsor.data.href}
                target="_blank"
                rel="noopener noreferrer"
                id={sponsor.id}
            >
                <PokemonCard>
                    <Image
                        src={sponsor.data.image}
                        alt={sponsor.data.name}
                        class="w-full h-auto object-contain"
                    />
                </PokemonCard>
            </a>
        ))
    }
</div>
