<div class="relative text-black select-none">
  <div class="absolute top-10 -right-20">
    <img
      width="400"
      class="-rotate-10"
      src="/public/media/details/pikachu.png"
    />
  </div>

  <div class="absolute top-24 left-36 -rotate-40 opacity-50">
    <img
      width="100"
      class="-rotate-10"
      src="/public/media/details/pokeball-comic.png"
    />
  </div>

  <div class="absolute bottom-10 right-110 rotate-90 opacity-50">
    <img
      width="100"
      class="-rotate-10"
      src="/public/media/details/pokeball-comic.png"
    />
  </div>

  <div class="flex flex-col justify-center items-center h-[80vh] pr-80">
    <img
      width="120"
      class="mb-6"
      src="/public/media/details/pokemon-text.png"
      alt="Pokemon text"
    />
    <h1 class="comic-font text-6xl font-extrabold capitalize font-comic-head flex gap-6"
      >
      <span class="text-red-800 ">Watch</span>
      <span class="text-gray-900">The</span>
      <span class="text-blue-800">Code</span>
    </h1>
    <p
      class="comic-font text-xl mt-4 font-semibold uppercase text-gray-500 font-comic-para"
      >Gotta Code 'Em All</p
    >
    <div class="mt-6">
      <p class="max-w-200 text-center mt-2 font-comic-para">
        Watch The Code 2026 is a <i>national-level</i> hackathon by <i>Graphic Era Hill
        University, Haldwani Campus,</i> where participants pick problem statements
        and present innovative tech solutions.
      </p>
      <p class="max-w-200 text-center mt-2 font-comic-para">
        Compete, collaborate, and showcase your skills through structured idea
        submissions and creative coding challenges.
      </p>
    </div>
  </div>
</div>
