<div class="text-black mt-20 pb-20">
  <h1 class="font-bold font-comic-head text-center mt-10 mb-20 text-4xl"
    >League <span class="text-red-800">Challenges</span></h1
  >
  
  <div class="h-120 bg-gray-300/30 rounded-4xl w-[80%] mx-auto flex justify-center items-center flex-col gap-6">
    <img width="120" src="/public/media/details/jigli_puff.png" alt="jiglipuff image" />
    <p class="lowercase font-comic-para text-gray-500">"statements Will Release after 15<sup>th</sup> march"</p>
  </div>
</div>
