<div class="relative text-black">
  <h1 class="font-bold font-comic-head text-center mt-10 text-4xl"
    >The <span class="text-red-800">Journey</span></h1
  >
  <div class="flex justify-center items-center h-screen opacity-80">
    <img width="350" src="/public/media/details/stages-process.png" alt="" />
  </div>

  <div class="absolute top-20 left-30 flex items-center flex-col">
    <img width="300" src="/public/media/details/misty-shyduck.png" alt="" />
    <div class="mt-4">
      <h1 class="text-center font-comic-head font-bold"
        >Round One: The Indigo League</h1
      >
      <p class="max-w-100 text-center font-comic-para text-xs mt-2">
        Participants submit their innovative solution ideas and approach for the
        given problem statement for initial evaluation and shortlisting.
      </p>
    </div>
  </div>

  <div class="absolute top-40 right-20 flex items-center flex-col">
    <img width="200" src="/public/media/details/brock-dude.png" alt="" />
    <div class="mt-4">
      <h1 class="text-center font-comic-head font-bold"
        >Round Two: The Indigo League</h1
      >
      <p class="max-w-100 text-center font-comic-para text-xs mt-2">
        Shortlisted teams will build and present a working MVP with system
        architecture and GitHub submission, evaluated on implementation quality,
        scalability, and teamwork.
      </p>
    </div>
  </div>

  <div class="absolute z-0 bottom-40 left-60 rotate-24">
    <img width="175" src="/public/media/details/squirtle-wink.png" alt="" />
  </div>

  <div class="absolute bottom-36 left-50 rotate-39">
    <p class="font-comic-para font-bold text-xs text-sky-800"
      >"squirtle, squirtle"</p
    >
  </div>

  <div class="absolute -bottom-40 right-60 flex items-center flex-row-reverse">
    <img width="300" src="/public/media/details/ash.png" alt="" />
    <div class="z-10">
      <h1 class="text-center font-comic-head font-bold"
        >Finale: The Master's League</h1
      >
      <p class="max-w-100 text-center font-comic-para text-xs mt-2">
        Shortlisted teams will compete on-campus to develop and present
        innovative, real-world solutions to industry-curated problem statements
        before a judging panel.
      </p>
    </div>
    <img
      width="150"
      class="absolute z-0 bottom-46 right-75"
      src="/public/media/details/kabutar.png"
      alt=""
    />
  </div>
</div>
