---
import { Icon } from "astro-icon/components";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;

const socials = [
    {
        name: "globe",
        url: "https://techgeeks.gehu.in/",
    },
    {
        name: "instagram",
        url: "https://www.instagram.com/techgeeksgehu/",
    },
    {
        name: "linkedin",
        url: "https://www.linkedin.com/company/techgeeksgehu/",
    },
    {
        name: "discord",
        url: "https://discord.gg/xgp4F9MXeG",
    },
    {
        name: "map",
        url: "https://maps.app.goo.gl/TxyqMDphVk4uTqLL8",
    },
];
---

<footer
    class:list={[
        "flex flex-col items-center justify-center text-center mt-20 gap-4 text-shadow-xs/50 text-black",
        className,
    ]}
    {...Astro.props}
>
    <div class="flex flex-row align-middle justify-center items-center gap-5">
        {
            socials.map((social) => (
                <a href={social.url} target="_blank">
                    <Icon
                        name={social.name}
                        class="h-8 w-8 text-current/75 hover:text-current transition-colors duration-200 ease-in-out"
                    />
                </a>
            ))
        }
    </div>

    <div>
        <p>
            &copy; {new Date().getFullYear()} Watch the Code. All rights reserved.
        </p>

        <p class="text-current/75">
            <span class="text-nowrap">Tech Geeks Club,</span>
            <span class="text-nowrap">Graphic Era Hill University,</span>
            <span class="text-nowrap">Haldwani Campus</span>
        </p>
    </div>

    <div class="flex flex-row align-middle justify-between items-center gap-6">
        <a href="https://techgeeks.gehu.in/" target="_blank">
            <Icon name="techgeeks_mono" class="h-16 w-auto" />
        </a>
        <a href="https://gehu.ac.in/haldwani/" target="_blank">
            <Icon name="gehu_hld_mono" class="h-16 w-auto" />
        </a>
    </div>

    <!-- <p>
        Designed by Lakshyajeet Jalal (<a
            href="https://linktr.ee/mglsj"
            target="_blank"
            class="underline">@mglsj</a
        >)
    </p> -->
</footer>
