---
import SmoothScroller from "@/components/helpers/SmoothScroller.astro";
import Fonts from "@/components/partials/Fonts.astro";
import Head, {
    type Props as HeadProps,
} from "@/components/partials/Head.astro";

import "@/styles/global.css";

export interface Props extends HeadProps {
    bodyClass?: string;
}

const { bodyClass, ...props } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <Head {...props} />
        <Fonts />
    </head>
    <body class:list={[bodyClass]}>
        <SmoothScroller>
            <slot />
        </SmoothScroller>

        <slot name="outside-smooth-scroll" />
    </body>
</html>
