---
import Header from "@/components/ui/Header.astro";
import BaseLayout, { type Props as BaseLayoutProps } from "./BaseLayout.astro";
import Footer from "@/components/ui/Footer.astro";

interface Props extends BaseLayoutProps {
    headerClass?: string;
    mainClass?: string;
    footerClass?: string;
}

const { bodyClass, headerClass, mainClass, footerClass, ...props } =
    Astro.props;
---

<BaseLayout {...props} bodyClass={bodyClass}>
    <Header class={headerClass} />

    <main class={mainClass}>
        <slot />
    </main>

    <Footer class={footerClass} />

    <Fragment slot="outside-smooth-scroll">
        <slot name="outside-smooth-scroll" />
    </Fragment>
</BaseLayout>
